<!-- .blog -->
<div id="blog" class="content_2">
<h1 class="h-bloc">Projects</h1><br> 

<div class="col-md-12">
    <div class="row">

        <!-- Page Blog -->
        <div class="col-md-12" id="blog_page">
            <!-- start Page Blog -->
            <section id="blog-page">

                <!-- Post 1 --> 
                <article id="post-1" class="blog-article">                    

                    <div class="col-md-12">

                        <div class="row">

                           
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-1" >Smart Revenue</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li>Java</li>
                                            <li>JavaScript</li>
                                            <li>PHP</li>
                                            <li>SQL</li>
                                        </ul>


                                        <div class="info">
                                            <h6> URL-Logger (Winter and Spring 2017, Senior Group Project - Sponsored by SmartRevenue). It consists of a Chrome Extension and Android App that tracks a user's history in order to determine a path of purchase for a particular product or brand. </h6></div>
                                    </div>
                                </div>  

                                <a href="https://github.com/URL-Logger" target="_blank" >Project on Github</a> <i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 1 -->

                <div class="clear"></div>

                <!-- Post 2 -->
                <article id="post-2" class="blog-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-2" class="read_more">Online Retail Administration </a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li>Java</li>
                                            <li>JavaScript</li>
                                            <li>Python</li>
                                            <li>Web2py</li>
                                            <li>Google Charts</li>
                                        </ul>

                                        <div class="info">
                                            <h6> Allow online store owner to pick products from supplier databases to add to their product inventory. Online store owner can create reports on sales data and easily add new suppliers to the website.</h6></div>
                                    </div>
                                </div>  

                                <a href="https://github.com/bereket11/Online-Retail-Admin" target="_blank" >Project on Github</a><i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 2 -->

                <div class="clear"></div>

                <!-- Post 3 -->
                <article id="post-3" class="blog-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                            

                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-3" class="read_more">2025 Labs</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li>Ruby on Rails</li>
                                            <li>JavaScript</li>
                                            <li> Bootstrap</li>
                                            <li>HTML</li>
                                           
                                        </ul>
                                        <div class="info">
                                             <h6>2025 Labs mission is to bring engineering and technology literacy to all kids and inspire a more diverse next generation of creators.</h6></div>
                                    </div>
                                </div>  

                                <a href="https://github.com/2025Labs" target="_blank" >Project on Github</a><i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>


                <article id="post-3" class="blog-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                            

                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-3" class="read_more">Human Trafficking: Sex Trade and Forced Labor</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li>Java</li>
                                            <li>JavaScript</li>
                                    
                                            <li>D3</li>
                                           
                                        </ul>
                                        <div class="info">
                                            <h6> Not only in developing countries, even inside United States human trafficking is also happening.
                                             </h6></div>
                                    </div>
                                </div>  

                                <a href="https://github.com/bereket11/Human-Trafficking-Sex-Trade-and-Forced-Labor" target="_blank" >Project on Github</a><i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>



               <article id="post-3" class="blog-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                            

                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-3" class="read_more">Gotta catch 'em all</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li>Java</li>
                                            <li>JavaScript</li>
                                    
                                            <li>HTML</li>
                                           
                                        </ul>
                                        <div class="info">
                                            <h6> Everything to know about your favorite Pokemon and a fun little game.</h6></div>
                                    </div>
                                </div>  

                                <a href="https://github.com/bereket11/Gotta-catch-em-all-" target="_blank" >Project on Github</a><i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>

            </section>

   
            <!-- End Page Blog - Post 3 -->


        </div>


   

    </div>
</div>
                                            </div>
                                            <!-- End .blog -->